
<main>
  <div class="row g-5">
    <div class="bg-body-tertiary col-md-5 col-lg-4 order-md-last" style="border-radius:20px;background:#6d757d;">    
      <div class="mt-3 list-group mb-3">

        <% if current_user %>
          <% if @store.user_id == current_user.id %>
            <%= link_to "Edit store", edit_manager_store_path(@store.id), class:"btn btn-outline-primary" %>
            <hr>
            <%= link_to "Show all store product", manager_store_path(@store.id), class:"btn btn-outline-primary" %>
            <hr>
            <%= link_to "Create a new product", new_manager_store_product_path(@store.id), class:"btn btn-outline-primary" %>
            <hr>
            <%= link_to "Show orders", manager_store_orders_path(@store.id), class:"btn btn-outline-primary" %>
            <hr>
            <%= link_to "Destroy store", manager_store_path(@store.id), data:{turbo_method: :delete}, class:"btn btn-outline-secondary" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-7 col-lg-8">
      <h1>
        Orders statistic
      </h1>
      <div class="statistic_chart_wrap">
        <canvas id="myChart" width="800px" height="500px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>"></canvas>
      </div>
  </div>
</main>
