<div class="row g-5">

  <div class="bg-body-tertiary col-md-5 col-lg-4 order-md-last" style="border-radius:20px;background:#6d757d;">
    
    <div class="mt-3 list-group mb-3">
      <div>
        <p class="my-0">
          <%= link_to "Profile", current_user, class:"nav-link" %>
        </p>
      </div>
      <hr>
      <div>
        <p class="my-0">
          <%= link_to "Store meneger", meneger_stores_path, class:"nav-link" %>
        </p>
      </div>
      <hr>
      <div>
        <p class="my-0">
          <%= link_to "Product meneger", meneger_products_path, class:"nav-link" %>
        </p>
      </div>
      <hr>
      <div>
        <p class="my-0">
          <%= link_to "My order", orders_path, class:"nav-link" %>
        </p>
      </div>
      <hr>

      <div>
        <p class="my-0">
          <%= link_to "Setting", edit_user_registration_path, class:"nav-link" %>
        </p>
      </div>
    </div>
    <hr>

  </div>

  <div class="col-md-7 col-lg-8">
    <h2>Your store</h2>

    <% @stores.each do |store| %>
      <div class="col-11 d-flex justify-content-between">
        <p class="col-2 px-2"><%= store.name %></p>
        <p>
          <%= link_to "More", store, class:"btn btn-outline-primary" %>
        </p>
        
        <p>
          <%= link_to "create product", edit_store_path(store.id), class:"btn btn-outline-primary" %>
        </p>

        <p>
          <%= link_to "Edit store", edit_store_path(store.id), class:"btn btn-outline-primary" %>
        </p>

        <p>
          <%= link_to "Destroy", meneger_store_path(store.id), data:{turbo_method: :delete, turbbo_confirm: "Are you surw?"}, class:"btn btn-outline-danger" %>
        </p>
      </div>
      <hr>
    <% end %>
  </div>

</div>