<h1> Your cart </h1>
<hr/>
<% if @products.empty? %>
  <p>Your cart is empty</p>
<% else %>
  <% @products.each do |product| %>
    <div class = "col-12 d-flex row justify-content-between">
      <div class = "col-4">
        <span> <%= product.name %> </span>
      </div>

      <div class = "col-6 row justify-content-end align-items-center">
        <%= link_to "Add", cart_add_path({:product_id => product.id}), class:"btn btn-primary rounded-pill px-3 col-2" %>
        
        <span class="col-1"> <%= @cart.count(product.id.to_s)%> </span>
        
        <%= link_to "Delete", cart_delete_path({:product_id => product.id}), class:"btn btn-danger rounded-pill px-3 col-2" %>
        
        <span class = "col-1"> <%= product.price_with_discount * @cart.count(product.id.to_s) %>$ </span>

        <%= link_to "", cart_delete_all_path({:product_id => product.id}), title:"delete_all", class:"btn-close btn_close" %>
      </div>
    </div>
    <hr/>
  <%end%>

  <div class="row justify-content-between">
  <div class="col-4">
    <%= link_to "Place order", new_order_path,  class:"btn btn-primary rounded-pill" %>
  </div>
  <div class="col-6 justify-content-end ">
    <strong class="align-self-end"><%= @sum %>$</strong>
  </div>
  </div>

<% end %>
