
<% @products.each do |product| %>
  <div class = "col-12 d-flex row justify-content-between">
    <div class = "col-2">
      <p class = "col-3"> <%= product.name %> </p>
    </div>

    <div class = "col-6 row justify-content-end align-items-center">
      <%= link_to "Add", cart_add_path({:product_id => product.id}), class:"btn btn-primary rounded-pill px-3 col-2" %>
      
      <%= @cart.count(product.id.to_s)%>
      
      <%= link_to "Delete",cart_delete_path, data:{turbo_method: :delete}, class:"btn btn-danger rounded-pill px-3 col-2" %>

      <p class = "col-1"> <%= product.price * @cart.count(product.id.to_s) %>$ </p>
    </div>
  </div>
  <hr/>
<%end%> 
<%=@cart%>