<h1> Your cart </h1>
<hr/>
<% if @products.empty? %>
  <p>Your cart is empty</p>
<% else %>
  <%= link_to "Clear", clear_path %>
  <% @products.each do |product| %>
    <div class = "d-flex row justify-content-between col-12 ">
      <div class = "col-3">
        <span> <%= product.name %> </span>
      </div>

      <div class = "row justify-content-end align-items-center col-8">
          <%= link_to "+", cart_add_path({:product_id => product.id}), title:"add", class:"btn btn-primary rounded-pill px-3 col-1" %>

          <span class="col-1"> <%= @cart.count(product.id.to_s)%> </span>

          <%= link_to "-", cart_delete_path({:product_id => product.id}), title:"delete", class:"btn btn-danger rounded-pill px-3 col-1" %>

          <span class = "d-flex flex-row-reverse col-2"> <%= number_to_currency(product.price_with_discount) * @cart.count(product.id.to_s) %></span>

          <%= link_to "", cart_delete_all_path({:product_id => product.id}), title:"delete_all", class:"btn-close btn_close col-1" %>
      </div>
    </div>
    <hr/>
  <%end%>

  <div class="row justify-content-between">
  <div class="col-4">
    <%= link_to "Place order", new_order_path,  class:"btn btn-primary rounded-pill" %>
  </div>
  <div class="d-flex flex-row-reverse align-self-center col-4">
    <strong><%= number_to_currency(@sum) %></strong>
  </div>
  </div>

<% end %>
