<% if @product.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<main class="m-auto d-flex col-12">
    <div class="col-5">
        <%= form_with model: [ :manager, @store, @product ], html: { multipart: true } do |form| %> 
            <div class="mb-3">
                <%= form.label :name, class:"form-label" %></br>
                <%= form.text_field :name, placeholder:"Product name", required: :true, class:"form-control" %>
            </div>
            <div class="mb-3">
                <%= form.label :description, class:"form-label" %></br>
                <%= form.text_area :description, placeholder:"Product description", required: :true, class:"form-control" %>
            </div>
            <div class="mb-3">
                <%= form.label :price, class:"form-label" %></br>
                <%= form.number_field :price, placeholder:"Product price", required: :true, class:"form-control" %>
            </div>
            <div class="mb-3">
                <%= form.label :discount, class:"form-label" %></br>
                <%= form.text_field :discount, placeholder:"Product discount", required: :true, value:"0", class:"form-control" %>
                <small> if discount equals 0 enter 0 <small>
            </div>
            <div class="mb-3">
                <%= form.label :category_id, class:"form-label" %></br>
                <%= form.select :category_id, @categories.collect { |c| [ c.name, c.id ] }, {prompt:"Select a category ..."}, required: :true, class:"form-select", id:"product_category" %>
            </div>
            <div class="mb-3">
                <%= form.hidden_field :image_cache %>
            </div>
             <div class="mb-3">
                <%= form.file_field :images, multiple: true,class:"form-control" %>
            </div>
            <div>
                <%= form.submit "Create product", class:"btn btn-primary" %>
            </div>
        <% end %>
    </div>
</main>