<h2> Store creation </h2>
<%= form_with model: @store do |form| %>  
    <div>
        <%= form.label :name %></br>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %></br>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :phone %></br>
        <%= form.text_field :phone %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>