<div class="col-3">
  <div class="card bg-body-tertiary" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> <%=store.name%></h5>

      <div class="d-flex align-items-center">
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="<%= store.rating * 20 if store.rating %>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: <%= store.rating * 20 %>%">
            <small class="product_rating"> <%= store.rating.round(1) if store.rating %> </small>
          </div>
        </div>
      </div>

      <p class="card-text"> <%= store.description %> </p>
      <%= link_to "Go to shop", store, class:"btn btn-primary" %>
    </div>
  </div>
</div>