<div>
    <h1> <%= @store.name %> </h1>
    <p> <%= @store.description %> </p>
    <p> <%= @store.phone %> </p>
    <p> <%= link_to "Edit store", edit_store_path %> </p>
    <p> <%=link_to "Сreate a product", new_store_product_path(@store.id) %> </p> 
    <p> <%= link_to "Destroy store", store_path, data:{turbo_method: :delete, turbbo_confirm: "Are you surw?"} %> </p>

    <% @store.products.each do |product| %>
        <p>
            <%= product.name %>
        </p>
        <p>
            <%= product.description %>
        </p>
        <p>
            <%= product.price %>
        </p>
        <p> <%=link_to "buy", "#"%> </p>
        <%= link_to "Delete", [product.store, product], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>

</div>