<div class="d-flex justify-content-between col-3"> 
  <h3 > Last products </h3>
  <small> <%= link_to "All products", products_path, class:"btn btn-outline-secondary" %> </small>
</div>

<div class="row g-4 mt-1">

  <% @products.each do |product|%>
    <%= render product %>
  <% end%>

</div>

<hr>

<div class="d-flex justify-content-between col-3"> 
  <h3> Last stores </h3>
  <small> <%= link_to "All stores", stores_path, class:"btn btn-outline-secondary" %> </small> 
</div>

<div class="row g-4 mt-1">

  <% @stores.each do |store| %>
    <%= render store %>
  <% end%>

</div>

<hr>

<div class="d-flex col-3"> 
  <h3> Last discount products </h3>
</div>

<div class="row g-4 mt-1">

  <% @discount_products.each do |discount_product|%>
    <%= render discount_product %>
  <% end%>

</div>