<h3> last products </h3>
<div class="row g-4">

  <% @products.each do |product|%>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <%=product.name%></h5>
          <p class="card-text"> <%= product.description %> </p>
          <%= link_to "Buy", "#", class:"btn btn-primary" %> 
          <%= link_to "Detailed", "#", class:"btn btn-outline-primary" %> 
        </div>
      </div>
    </div>
  <% end%>

</div>

<hr/>

<h3> last stores </h3>
<div class="row g-4">

  <% @stores.each do |store| %>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <%=store.name%></h5>
          <p class="card-text"> <%= store.description %> </p>
          <%= link_to "Go to shop", store, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end%>

</div>

<hr/>

<h3> last discount products </h3>
<div class="row g-4">

  <% @discount_products.each do |discount_products|%>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <%=discount_products.name%></h5>
          <p class="card-text"> <%= discount_products.description %> </p>
          <%= link_to "Buy", "#", class:"btn btn-primary" %>
          <%= link_to "Detailed", "#", class:"btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% end%>

</div>