<main class="m-auto d-flex col-12"> <!--  w-100  -->
    <div class="col-5">
        <%= form_with model: [ @store, @product ], html: { multipart: true } do |form| %>  
            <div class="row mb-3">
                <%= form.label :name, class:"form-label" %></br>
                <%= form.text_field :name, class:"form-control" %>
            </div>
            <div class="row mb-3">
                <%= form.label :description, class:"form-label" %></br>
                <%= form.text_area :description, class:"form-control" %>
            </div>
            <div class="row mb-3">
                <%= form.label :price, class:"form-label" %></br>
                <%= form.number_field :price, class:"form-control" %>
            </div>
            <div class="row mb-3">
                <%= form.label :discount, class:"form-label" %></br>
                <%= form.text_field :discount, class:"form-control" %>
            </div>
            <div class="row mb-3">
                <%= form.file_field :image, class:"form-label" %>
                <%= form.hidden_field :image_cache, class:"form-control" %>
            </div>
            <div>
                <%= form.submit "Create product", class:"btn btn-primary" %>
            </div>
        <% end %>
    </div>
</main>