<div class="col-3">
  <div class="card bg-body-tertiary" style="width: 18rem;">
    <%= image_tag product.image.url(:card),alt: product.name, class: "card-img-top" if product.image? %>
    <div class="card-body">
      <h5 class="card-title"> <%=product.name%></h5>
      <p class="card-text"> <%= product.description %> </p>

      <% if product.discount == 0 %>
        <p class="card-text"> <%= product.price %>$ </p>
      <% else %>
        <p class="card-text ">
          <span class="discount"><%= product.price - product.discount %>$</span>
          <span class="line-through"><%= product.price %>$</span>  
        </p>
      <% end %>

      <%= link_to "Buy", cart_add_path({:product_id => product.id}), class:"btn btn-primary" %>
      <%= link_to "Detailed", store_product_path(product.store_id, product.id), class:"btn btn-outline-primary" %>

      <% if current_user %>
        <% if product.store.user_id == current_user.id %>
          <%= link_to "Delete", store_product_path(product.store_id, product.id), data:{turbo_method: :delete, turbbo_confirm: "Are you surw?"}, class:"btn btn-outline-danger" %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>  