<div class="d-flex justify-content-between col-12">

  <%= render "home/categories" %>

  <div class="col-10">
    <% if @category %>
      <h2> <span class="product_category_name"><%= @category.name.upcase %></span> PRODUCTS </h2>
    <% else %>
      <h2> ALL PRODUCTS </h2>
    <% end %>

    <%= form_with url: elsearch_path, method: :get do |form|%>
      <div class="d-flex">
        <%= form.text_field :query, class:"form-control me-2" %> <!--params[:search], placeholder: "Search", class:"form-control me-2" -->
        <%= form.submit "Search", class:"btn btn-outline-secondary" %>
      </div> 
    <% end %>

    <div class="row g-4 mt-1">
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
    
    <nav class="d-flex justify-content-center pagination page_wrap">
      <%= paginate @products %> 
    </nav>
  </div>
</div>