<div class="">
  <div class="d-flex col-12">
    <div class="col-9">
      <div>
        <h2> <%= @product.name %> </h2>
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
              <% @product.images.each_with_index do |image, i| %>
                <div class="carousel-item <%= "active" if i == 0 %>">
                  <%= image_tag(image.large.url, alt: @product.name, class:"d-block w-100") %>
                </div>
              <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>

    <div class="col-3">
      <p> 
        <%= @product.description %>
      </p>
      <p>
        <span class=""> Store: <%= link_to @product.store.name, store_path(@product.store.id) %></span>
      </p>
      <p>
        <% if @product.discount == 0 %>
          <span class="card-text"> <%= @product.price %>$ </span>
        <% else %>
          <span class="discount"><%= @product.price - @product.discount %>$</span>
          <span class="line-through"><%= @product.price %>$</span>
        <% end %>
        <%= link_to "Buy", cart_add_path({:product_id => @product.id}), class:"btn btn-primary" %>
      </p>
    </div>
  </div>

  <div class="reviews">
    <h4>Reviews</h4>
    <div class="reviews_views">
      <%= render @product.reviews %>
    </div>

    <div class="reviews_form">
      <%= render "reviews/form" %>
    </div>
  </div>
</div>
