<div class="">

  <div class="d-flex justify-content-between col-12">
    <div class="col-8 product_show_index">
      <div class="d-flex align-items-center">
        <h2 class="product_name"> <%= @product.name %> </h2>

        <div class="d-flex align-items-center">
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="<%= @product.rating * 20 if @product.rating %>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: <%= @product.rating * 20 if @product.rating%>%">
              <small class="product_rating"> <%= @product.rating if @product.rating %> </small>
            </div>
          </div>
          <small> <%= @product.reviews.count %> reviews</small>
        </div>

      </div>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <% @product.images.each_with_index do |image, i| %>
            <div class="carousel-item <%= "active" if i == 0 %>">
              <%= image_tag(image.large.url, alt: @product.name, class:"d-block w-100 carousel_image") %>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-3 product_show_side_bloc">
      <div class="d-flex align-items-center side_bloc_price_wrap">
        <% if @product.discount == 0 %>
          <span class="card-text h4 side_bloc_price"> <%= @product.price %>$ </span>
        <% else %>
          <span class="discount h4 side_bloc_price"><%= @product.price - @product.discount %>$</span>
          <span class="line-through"><%= @product.price %>$</span>
        <% end %>

        <%= link_to "#", class:"btn btn-primary d-flex align-items-center product_side_bloc_button" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <span>Buy</span>
        <% end %>
      </div>

      <div class="d-flex align-items-center">
        <div class="product_show_store_side_bloc">
          <span class="product_show_store_name_side_bloc"> Store: <%= link_to @product.store.name, store_path(@product.store.id) %></span>
        </div>

          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="<%= @product.store.rating * 20 %>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: <%= @product.store.rating * 20 %>%">
              <small class="product_rating"> <%= @product.store.rating.round(1) if @product.rating %> </small>
            </div>
          </div>

      </div>
      
    </div>
    
  </div>

  <div class="d-flex justify-content-between col-12 product_show_under_blok">
    <div class="col-8 prooduct_description_show_under_blok">
      <h4 class="h3">Product discription</h4>
      <p class="pt-2"> 
        <%= @product.description %>
      </p>
    </div>
    <div class="col-3 reviews">
      <div class="reviews_form">
        <h4>Reviews</h4>
        <%= render "reviews/form" %>
      </div>

      <div class="reviews_views">
        <%= render @product.reviews.order(:id => :DESC) %>
      </div>
    </div>
  </div>

</div>
