<%= form_with model: [ @store, @product, @review ] do |form| %>
  <div  class="mb-2">
    <%= form.label :body, class:"form-label" %>
    <%= form.text_area :body, class:"form-control" %>
  </div>
  <div  class="mb-2">
    <%= form.label :rating, class:"form-label" %>
    <%= form.select :rating, ["Select a rating", 1, 2, 3, 4, 5], class:"star-rating" %>
  </div>

  <div>
    <%= form.submit "Leave review", class:"btn btn-outline-primary" %>
  </div>
<% end %>
