<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to "Ali Shop", root_path, class:"nav-link px-2 link-secondary" %></li>
          <li><%= link_to "Home", root_path, class:"nav-link px-2 link-dark" %></li>
          <li><%= link_to "All Store", stores_path, class:"nav-link px-2 link-dark" %></li>
          <li><%= link_to "All Products", products_path, class:"nav-link px-2 link-dark" %></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>


        <div>

          <% if user_signed_in? %>
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <%= link_to "Profile", "#", class:"dropdown-item" %>
                <li><%= link_to "Setting", edit_user_registration_path, class:"dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Sign out", destroy_user_session_path, class:"dropdown-item", data: { turbo_method: :delete } %></li>
              </ul>
            </div>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
            <%= link_to "Sign-up", new_user_registration_path %>
          <%end%>

        </div>        
      </div>
    </div>
  </header>