<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to "Ali Shop", root_path, class:"nav-link px-2 link-secondary" %>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">


          <% if current_user %>
            <% current_user.stores.each do |store|%>
              <li>
                <%= link_to manager_store_orders_path(store.id), class:"nav-link px-2 link-dark" do %> 
                <%= store.name %>
                  <span class="badge bg-secondary"></span>
                <% end %>
              </li>
            <% end %>
          <% end %>
          <!--<li><%= link_to "Home", root_path, class:"nav-link px-2 link-dark" %></li>
          <li><%= link_to "All Store", stores_path, class:"nav-link px-2 link-dark" %></li>
          <li><%= link_to "All Products", products_path, class:"nav-link px-2 link-dark" %></li>-->
          <li><%= form_tag(products_path, method: :get) do %>
        <div class="d-flex">
          <%= text_field_tag "search", params[:search], placeholder: "Search...", class:"form-control me-2" %>
          <%= submit_tag "Search", class:"btn btn-outline-secondary" %>
        </div> 
        <%end%></li>
        </ul>

        <div>
          <ul class="nav">
          <li><%= link_to cart_show_path, class:"nav-link px-2 link-dark" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
              <% end %>
          </li>
            <% if user_signed_in? %>

            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><%= link_to "Profile", current_user, class:"nav-link link-dark px-2" %></li>
                  <li class="nav-item"><%= link_to "My order", orders_path, class:"nav-link link-dark px-2" %></li>
                  <li class="nav-item"><%= link_to "Setting", edit_user_registration_path, class:"nav-link link-dark px-2" %></li>
                  <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, class:"nav-link link-dark px-2", data: { turbo_method: :delete } %></li>
                </ul>
              </div>

              <li class="nav-item"><%= link_to "Profile", current_user, class:"nav-link link-dark px-2" %></li>
              <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, class:"nav-link link-dark px-2", data: { turbo_method: :delete } %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Log in", new_user_session_path, class:"nav-link link-dark px-2" %></li>
              <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class:"nav-link link-dark px-2" %></li>        
            <%end%>
          </ul>
        </div>        
      </div>
    </div>
  </header>